html
  head
    title Error
    link(rel="stylesheet", href="css/style.css")
  body
    div
        .box.green
                h1 :( Sorry, but Try visiting another time 
                h2 #{err}, #{sol}.

