html
  head
    title Home
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/navbar.css")
    script.
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("img").innerHTML = this.responseText;
      }
      };
      xhttp.open("GET", "./img", true);
      xhttp.send();

      var uploadUIactive = false;
    
      function toggleUploadUI()
      {
         uploadUIactive = !uploadUIactive;
       // alert("uploadUIactive Toggled state::" + uploadUIactive); 
         document.getElementById('img').hidden = (uploadUIactive);
         document.getElementById('uploadUI').hidden = !(uploadUIactive);
      }
      
  body
    #nav-hero
     span.logo
      img(src="img/title.png")
      ul.nav-bar
        li 
          a(href="./home") home
        li 
          a(href="./discover") discover
        li 
          a.btn(style="color:white",onclick="toggleUploadUI()") upload
      br
    #home
      #img
      #uploadUI(hidden)
        form(action="/upload-ftp", method="post" ,style="margin-top:70px;", enctype="multipart/form-data",id="login-form",class="box")
          h1 Upload image
          label(for="file") Choose a file
          input(type="file",name="filetoupload",placeholder="file-picker",id="file-picker")
          div
          button(type="submit") Upload
         


          
             
