html
  head
    title Log in
    link(rel="stylesheet", href="css/style.css")
  body.blue
    #login-form.box
      form(action="/Login", method="post")
        h1 Sign In
        label(for="email") Email Address
        input(type="email",name="email",placeholder="someone@example.com",id="email")
        div
        label(for="pass") Password
        input(type="password",name="pass",placeholder="password",id="password")
        div
        button(type="submit") Login
        .err
          p #{err}